@use "@styles/variables.scss";
.search {
  &_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  &_header {
    font-weight: 600;
  }
  &_input {
    background-color: variables.$white;
    border-radius: 5px;
    box-shadow: 0px 8px 24px 0px rgba(0, 0, 0, 0.05);
    padding: 15px 20px 15px 60px;
    width: 600px;
    height: 50px;
    box-sizing: border-box;
    border: 1px solid variables.$stroke;
    margin-bottom: 40px;
    &_icon {
      position: absolute;
      top: 15px;
      left: 20px;
    }
  }
  &_result_counter {
    font-weight: 600;
    border-bottom: 1px solid variables.$stroke;
    margin-bottom: 45px;
    text-align: left;
  }
}

.input_wrapper {
  position: relative;
}
