@use "@styles/global.scss";
@use "@styles/variables.scss";
.articles {
  &_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 45px;
    background-color: variables.$white;
    &_item {
      width: 400px;
      height: 530px;
      box-sizing: border-box;
      border-radius: 5px;
      padding: 0;
      border: 1px solid variables.$stroke;
      display: flex;
      flex-direction: column;
    }
    &_image {
      width: 400px;
      height: 217px;
      border-radius: 5px 5px 0 0;
      margin-bottom: 0 25px 25px 25px;
      object-fit: fill;
    }
    &_card {
      padding: 25px;
      height: 100%;
      &_description {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      &_date {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 24px;
        &_text {
          font-size: 14px;
          opacity: 0.6;
        }
      }
      &_title {
        font-weight: 400;
        font-size: 24px;
        line-height: 100%;
        max-height: 58px;
      }
      &_summary {
        height: 96px;
        line-height: 150%;
      }
    }
  }
}
